.mainblock {
    @include adaptiveValue("margin-bottom", 100, 40, 1170, 991.98, 1);

    &__imageblock {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 25, 1170, 991.98, 1);
        }
    }
}

.bottomblock {
    text-align: center;
    &__text {
        max-width: rem(970);
        @include adaptiveValue("font-size", 20, 18, 1170, 991.98, 1);
        line-height: math.div(36, 20);
        font-weight: 300;
        color: #646667;
        margin: 0px auto;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 25, 1170, 991.98, 1);
        }
    }

    &__button {
    }
}

.imageblock {
    position: relative;
    @media (max-width: $mobileSmall) {
        margin: 0px rem(-15);
    }
    &__title {
        @extend .pts;
        position: absolute;
        @include adaptiveValue("bottom", 80, 30, 1170, 767.98, 1);
        right: 0;
        text-shadow: 0px rem(3) rem(1) rgba(0, 0, 0, 0.6);
        @include adaptiveValue("font-size", 32, 20, 1170, 479.98, 1);
        line-height: math.div(48, 32);
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        color: #ffffff;
        z-index: 2;
        @include adaptiveValue("max-width", 770, 580, 1170, 991.98, 1);
        @media (max-width: $mobile) {
            padding: 0px rem(10);
            text-align: center;
            max-width: 100%;
        }
    }

    &__bg-ibg {
        @include adaptiveValue("min-height", 410, 280, 1170, 479.98, 1);
    }
}

//===================================================================================================================================

.investor {
    @include adaptiveValue("margin-bottom", 100, 60, 1170, 991.98, 1);

    &__title {
        @include adaptiveValue("margin-bottom", 60, 20, 1170, 479.98, 1);
        @media (max-width: $mobile) {
            text-align: center;
        }
    }

    &__text {
        @include adaptiveValue("margin-bottom", 60, 20, 1170, 479.98, 1);
        @include adaptiveValue("font-size", 20, 18, 1170, 991.98, 1);
        line-height: math.div(36, 20);
        font-weight: 300;
        color: #646667;
        @media (min-width: $mobile) {
            max-width: rem(640);
        }
        @media (max-width: $mobile) {
            text-align: center;
        }
    }

    &__button {
        @media (min-width: $mobile) {
            max-width: rem(270);
        }
    }
}
.stat-investor {
    margin: 0px rem(-5);
    @include adaptiveValue("margin-bottom", 30, 10, 1170, 479.98, 1);
    display: flex;
    justify-content: space-between;
    &__column {
        text-align: center;
        padding: 0px rem(5);
        margin-bottom: rem(25);
        flex: 0 1 auto;
        @media (max-width: $mobile) {
            flex: 0 1 33.333%;
        }
        @media (max-width: $mobileSmall) {
            flex: 0 1 50%;
        }
    }
    @media (max-width: $mobile) {
        flex-wrap: wrap;
        justify-content: center;
    }
}
.item-stat {
    &__value {
        @extend .pts;
        @include adaptiveValue("font-size", 54, 35, 1170, 767.98, 1);
        line-height: 1;
        text-transform: uppercase;
        color: #007397;
    }

    &__text {
        @include adaptiveValue("font-size", 16, 14, 1170, 991.98, 1);
        line-height: math.div(32, 16);
        color: #aec3d4;
    }
}

//========================================================================================================================================================

.newsmedia {
    @include adaptiveValue("margin-bottom", 70, 40, 1170, 991.98, 1);
    &__container {
    }

    &__header {
    }

    &__body {
    }

    &__item {
    }
}
.header-newsmedia {
    margin-bottom: rem(40);
    @media (min-width: em(630)) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        @media (max-width: em(630)) {
            &:not(:last-child) {
                margin-bottom: rem(30);
            }
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        @include adaptiveValue("gap", 60, 30, 1170, 767.98, 1);
        @media (max-width: em(630)) {
            justify-content: center;
        }
    }

    &__item {
        font-size: rem(16);
        line-height: math.div(16, 16);
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.06em;
        color: #d3cfce;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: #3c3f3d;
            }
        }
        &._tab-active {
            color: #007397;
        }
    }
}
.item-newsmedia {
    display: flex;
    margin: 0px rem(-15);
    &[hidden] {
        display: none !important;
    }
    @media (max-width: $tablet) {
        flex-wrap: wrap;
    }
    &__column {
        flex: 0 1 33.333%;
        padding: 0px rem(15);
        margin-bottom: rem(50);
        @media (max-width: $tablet) {
            flex: 0 1 50%;
        }
        @media (max-width: em(630)) {
            flex: 1 1 100%;
        }
    }

    &__content {
    }
}
.content-newsmedia {
    display: flex;
    flex-direction: column;
    height: 100%;
    @media (max-width: em(630)) {
        text-align: center;
    }
    &__header {
        position: relative;
        @include adaptiveValue("height", 370, 280, 1170, 630, 1);
        @include adaptiveValue("margin-bottom", 35, 20, 1170, 630, 1);
    }

    &__body {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        padding: rem(25) rem(30);
    }

    &__category {
        font-size: rem(12);
        line-height: math.div(16, 12);
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.06em;
        color: #ffffff;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: #d3cfce;
            }
        }
    }

    &__title {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 0px rem(30);
        @include adaptiveValue("margin-bottom", 70, 40, 1170, 991.98, 1);
        @include adaptiveValue("font-size", 24, 18, 1170, 991.98, 1);
        line-height: math.div(32, 24);
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.04em;
        color: #fff;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: #d3cfce;
            }
        }
    }

    &__image-ibg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        &.bluebg {
            &::after {
                width: 102%;
                @media (max-width: $pc) {
                    width: 108%;
                }
                @media (max-width: $tablet) {
                    height: rem(500);
                    @include adaptiveValue("left", -90, -125, 991.98, 630, 1);
                }
                @media (max-width: em(630)) {
                    top: rem(-130);
                }
            }
        }
    }

    &__text {
        flex: 1 1 auto;
        font-size: rem(16);
        line-height: math.div(32, 16);
        color: #646667;
        @include adaptiveValue("margin-bottom", 45, 25, 1170, 630, 1);
    }

    &__more {
        font-size: rem(16);
        line-height: math.div(16, 16);
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.06em;
        color: #007397;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: #3c3f3d;
            }
        }
    }
}

//========================================================================================================================================================

.country {
    &__title {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 30, 1170, 479.98, 1);
        }
    }

    &__map {
        @include adaptiveValue("height", 450, 300, 1170, 479.98, 1);
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}
